---
layout: page
title: "About"
description: "什么是GeoMTMan？什么是李泯？"
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英语 English </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">
<!-- 座右铭 -->
    <blockquote>
        仰望星空，脚踏实地。
    </blockquote>
	
		大家好！我是李泯。为什么主页叫GeoMTMan呢？因为我现在的学习研究方向是大地电磁测深（MT）——一种探测地球内部结构，探测矿藏油气资源的地球物理方法。同时我也在学习关于机器学习，模式识别方面的应用技术，希望将人工智能和大地电磁结合，有所创新。
	
	<h2>教育背景</h2>
	<br>
	<li><strong>2014~2018:</strong> 中国地质大学（武汉）地球物理学专业，获得学士学位</li>
	<li><strong>2015~2018:</strong> 辅修武汉大学计算科学与技术专业，获得辅修证书</li>
	<li><strong>2018至今：</strong> 中国科学院大学综合地球物理学专业硕士研究生在读，研究方向为电磁方法</li>
	<br>
	<h2>获奖经历</h2>
	<br>
    <li><strong>2018:</strong> “华为杯”第十五届中国研究生数学建模竞赛国家二等奖（top|10%）</li>
	<li><strong>2017:</strong> 2017年全国大学生数学建模竞赛国家二等奖（top|4%）</li>
	<li><strong>2017:</strong> 2017 年中国地质大学校级优秀学生</li>
	<li><strong>2017:</strong> “东方杯”全国大学生勘探地球物理大赛三等奖</li>
	<li><strong>2017:</strong> 湖北省第六届大学生艺术节器乐类甲组一等奖</li>
	<li><strong>2017:</strong> 中国地质大学英才“院士”奖学金</li>
	<li><strong>2016:</strong> “想把我唱给你听”校园歌手大赛十强及最佳青春奖</li>
	<br>
	<h2>技能掌握与学习</h2>
	<br>
	<li><strong>地球物理方面:</strong> 地球物理各方法：重力、磁法、电（磁）法、地震方法的基本原理；D-InSAR数据处理技术</li>
	<li><strong>计算机技术:</strong> 正在学习中：Matlab Java Ruby(on rails) Python；正在学习中：模式识别及机器学习不同方法的原理及应用</li>
	<li><strong>其他：</strong> 吉他、打击类乐器、GIC翡翠鉴定师</li>
	<br>
	<h2>玩儿</h2>
	<br>
	<li><strong>bilibili：</strong> 我也是一位b站up主，ID：泯而好学。<a href="https://space.bilibili.com/145883168?spm_id_from=333.788.b_765f7570696e666f.1">传送门</a></li>
	<li><strong>Dota2:</strong> 玩了十年的游戏，伴随了我的整个青春，老矣，成为云玩家了。</li>
	<li><strong>运动：</strong> 最喜欢游泳！2019年的年度重大计划专项：增肌减脂！</li>
	<br>

</div>

<!-- English Version -->
<div class="en post-container">
    <blockquote>
        Look up at the stars and keep your feet on the ground.
    </blockquote>
	
		Hello!I am MinLi.Why is the home page called GeoMTMan?Because my current research direction is magnetotelluric sounding (MT), a geophysical method to explore the earth's internal structure and oil and gas resources.At the same time, I am also learning the application technology of machine learning and pattern recognition, hoping to combine artificial intelligence and magnetotelluric force and make innovations.
	
	<h2>Education</h2>
	<br>
	<li><strong>2014~2018:</strong> Bachelor degree in geophysics from China university of geosciences (wuhan)</li>
	<li><strong>2015~2018:</strong> Minored in computer science and technology of wuhan university, and obtained the minor certificate</li>
	<li><strong>2018 till now：</strong> Master of comprehensive geophysics, university of Chinese academy of sciences, majoring in MT</li>
	<br>
	<h2>Awards And Honor</h2>
	<br>
    <li><strong>2018:</strong> Second prize of the 15th "huawei cup" national mathematical modeling contest for postgraduates（top|10%）</li>
	<li><strong>2017:</strong> Second prize of national mathematical modeling contest for college students in 2017（top|4%）</li>
	<li><strong>2017:</strong> 2017 outstanding student of China university of geosciences</li>
	<li><strong>2017:</strong> Third prize in "Oriental cup" national college students exploration geophysics competition</li>
	<li><strong>2017:</strong> The first prize of instrumental music group a of the 6th college students art festival in hubei province</li>
	<li><strong>2017:</strong> "Academician" scholarship of China university of geosciences</li>
	<li><strong>2016:</strong> "Want to sing me to you" campus singer contest top ten and best youth award</li>
	<br>
	<h2>Skills</h2>
	<br>
	<li><strong>Geophysical aspects:</strong> Geophysical methods: basic principles of gravity, magnetic, electric (magnetic), and seismic methods;
D-insar data processing technology</li>
	<li><strong>Computer technology:</strong> Learning：Matlab Java Ruby(on rails) Python；Learning：Principles and applications of different approaches to pattern recognition and machine learning</li>
	<li><strong>Others:</strong> Guitar, percussion instruments, GIC jade appraiser</li>
	<br>
	<h2>Fun</h2>
	<br>
	<li><strong>bilibili：</strong> My bilibili ID：泯而好学.<a href="https://space.bilibili.com/145883168?spm_id_from=333.788.b_765f7570696e666f.1">portal</a></li>
	<li><strong>Dota2:</strong> Played the game for ten years, with my whole youth, become a cloud player now.</li>
	<li><strong>Sports：</strong> Love swimming!
2019 year's major plan special: muscle gain and fat loss!</li>
	<br>

</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 0){
            $zh.style.display = "block";
            $en.style.display = "none";
        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(0);
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
